<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Employee Management</span>
    <!-- <div class="d-flex justify-content-end " >
      <button *ngIf="showLogoutBtn" type="submit"  class="btn btn-warning btn-sm mx-4" >Log Out</button>
    </div> -->
  </div>
</nav>

<div class="container m-3 p-5 d-flex  justify-content-center" *ngIf= "!hideButton">
  <div class="card rounded" style="width: 45rem;">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-outline-primary m-3"  *ngIf ="!showAdminForm"  (click)="adminLogin()" type="button" >Admin Login</button>
      <button class="btn btn-outline-warning m-3" type="button" *ngIf ="!showEmplyeeForm" (click)="employeLogin()" >Employee Login</button>
    </div>
  </div>
</div>

<!-- Employee Form -->
<div class="container p-5"  *ngIf = "showEmplyeeForm">
<div class="card rounded " style="background-color: hsla(180, 8%, 88%, 0.877);">
  <div>
    <img style="height: 150px;" src="../../assets/Emplooye login.jpg" class="img p-2 rounded mx-auto d-block" alt="employee-image">
  </div>
   <form  class="m-3" #lgForm="ngForm"   [formGroup]="employeeForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Employee ID</label>
      <input type="text"  name="employeeId"  placeholder="Ex. V5001" class="form-control" formControlName = "employeeId" name="employeeId" >
        <!-- Error Message -->
         <!-- <div *ngIf="employeeId.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

  <div *ngIf="name.errors?.required">
    Name is required.
  </div>
  <div *ngIf="name.errors?.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors?.forbiddenName">
    Name cannot be Bob.
  </div>
</div>  -->
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email"  name="email"  class="form-control" formControlName= "email" name="email" placeholder="Enter Email">
    </div>
    <div class="mb-3">
      <div class="col-md-12">
        <label for="password" class="form-label">Password</label>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="input-group mb-3">
            <input [type]="show ? 'text' : 'password'" type="text" class="form-control" placeholder="Enter Password" formControlName="password"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"(click)="showPassword()" type="button" id="button-addon2">Show

              </button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button"   class="btn   btn-primary" [disabled]="!employeeForm.valid" (click)="loginSubmit(lgForm.value)">Submit
    </button>
    <button type="button" class="btn btn-link mx-3" (click)="home()"  >Not Employee Back to Home!</button>
  </form>
</div>
</div>


<!-- Admim Form -->

<div  class="container p-5" *ngIf ="showAdminForm">
  <div class="card rounded " style="background-color: hsla(180, 8%, 88%, 0.877);">
    <div>
      <img style="height: 150px;" src="../../assets/Emplooye login.jpg" class="img p-2 rounded mx-auto d-block" alt="employee-image">
    </div>
  <form #adminFormLogin="ngForm" class="m-3"  [formGroup]= "adminForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" formControlName= "email"  value="admin@gmail.com">
    </div>
    <div class="mb-3">
      <div class="col-md-12">
        <label for="password" class="form-label">Password</label>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="input-group mb-3">
            <input [type]="show ? 'text' : 'password'" type="text" class="form-control" placeholder="Enter Password" formControlName="password"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"(click)="showPassword()" type="button" id="button-addon2">Show</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" [disabled]= "!adminForm.valid" (click)="login(adminFormLogin.value)" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-link mx-3" (click)="home()"  >Not Admin Back to Home!</button>
  </form>
  </div>
</div>
